<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
	<script src="/regforms.js"></script>
    <script src="/user.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script>
    	$(function(){
    		var map = new Map([['Дата рождения', 'birthday'], ['Моб. Телефон', 'phone'],['Адрес', 'address']]);
    		printFormMap('.reg-form', map);
    	})
    </script>
</head>
<body>
	<h2>Введите персональные данные</h2>
	<input type="hidden" name="id" value="{{id}}" />
	<form id="register-form" name="userForm">
		<div class="form-group">
    		<label for="firstName">Имя:</label>
      		<input readonly class="form-control" value={{firstName}}>
      	</div>
      	<div class="form-group">
    		<label for="lastName">Фамилия:</label>
      		<input readonly class="form-control" value="{{lastName}}">
      	</div>

        

		<div class="reg-form"></div>

		<input type="hidden" name="role" value="{{role}}" />

        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
            <a id="reset" class="btn btn-sm btn-primary">Сбросить</a>
            <a id="print" class="btn btn-sm btn-primary">Вывести всех</a>
        </div>
    </form>
	<script>
    	$('#register-form').submit(function (e) {
	            e.preventDefault();
	            var user = new User();

	            user.Id('{{id}}');
	            user.FirstName('{{firstName}}');
	            user.LastName('{{lastName}}');
	            user.Birthday(this.elements['birthday'].value);
	            user.Phone(this.elements['phone'].value);
	            user.Address(this.elements['address'].value);
	            user.Role('{{role}}');

	            console.log(user.getInfo());
				EditUser(user);		    
        });
        
    	function reset() {
            var form = document.forms["userForm"];
            form.reset();
            // form.elements["id"].value = 0;
        }

        // сброс значений формы
        $("#reset").click(function (e) {
            e.preventDefault();
            reset();
        })

        $("#print").click(function (e) {
            e.preventDefault();
            GetUsers();
        })
 		

        function GetUsers() {
            fetch('/api/users', {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              }}).then(function (users) {
                    $.each(users, function (index, user) {
                        console.log(user);

                    })
                 });

            // $.ajax({
            //     url: "/api/users",
            //     type: "GET",
            //     contentType: "application/json",
            //     success: function (users) {
            //         $.each(users, function (index, user) {
            //             console.log(user);

            //         })
            //      }
            // });
        }
// Изменение пользователя
        function EditUser(user) {
            $.ajax({
                url: "api/users",
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    id: user.Id(),
                    firstName: user.FirstName(),
                    lastName: user.LastName(),
                    birthday: user.Birthday(),
                    phone: user.Phone(),
                    address: user.Address(),
                    role: user.Role()
                }),
                success: function(user) {
                    reset();
                    console.log(user);
                    // $("tr[data-rowid='" + user._id + "']").replaceWith(row(user));
                }
            })
        }
    </script>
</body>
<html>